.concert-results {
  color: white;
  margin: 250px;  
  margin-top: 150px;
}

li {
  list-style-type: none;
  padding-top: 10px;
  border-radius: 10px;
  background: rgba(171, 230, 238, 0.5);
  margin-bottom: 40px;
}

.results {
  display: block;
  left: 50%;  
  text-align: center;
}